
#conteneur
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
}

a {
	font-family: 'Quintessential', cursive !important;
	
}

nav{
	background-color: #ADF4A2;
}

#button_res {
	font-family: 'Quattrocento', serif !important;
}