html{
	height: 100%
}

body.bcg{
	 /* Center and scale the image nicely */
	height: 100%;
	background-image:url(image/vegetables.png);
  	background-position: center;
 	background-color:white;
	background-repeat:no-repeat;
	
}

.carte{
	display : flex;
	padding-bottom : 0px;
	border-color: green;
    border-style: solid;
    border-radius: 10px;
    border-width: 4px;
    padding: 9px;  
}

#desc{
	flex : 1;
	text-align: left;
}

#description{
	flex : 2;
	text-align: left;
}


#img{
	margin-right : 1rem;
	width: 128px;
    height: 128px;
}

.bg-primary {
	background-color: #3a9a57 !important;
}

#nav-brand{
	color: white;
	font-family: Quintessential;
}

#res{
	text-align: center;
	font-family: Quando;
}

#name{
	padding-top : 0px;
	padding-bottom : 1rem;
}

#masse{
	padding-bottom : 0px;
}

.box{
	padding: 12px;
	border-radius: 10px !important;
}


#titre{
	margin-top: 3rem;
	text-align: center;
	font-family: Quintessential;
	font-size: 4rem;
	color: #77c685;
}

#ss_titre{
	
	padding-top: 1rem;
	padding-left: 14rem;
	padding-right: 14rem;
	font-family: Quattrocento;
	text-align: center;
	margin-bottom: 3rem;
	color: white;
}

.bloc{
	margin-left: 12rem;
	margin-right: 12rem;
}

#button-addon2{
	padding-left: 2rem;
	padding-right: 2rem;
	background-color: #367F43;
	color: white;
}

#imp{
	background-color: #bad1bf;
	color: black;
}

#barcode{
    padding-top: 0px !important;
    width: 200px;
    height: 70px !important;
}

#label{
    font-family: Quattrocento;
    color: white;
    padding-top: 0px;
    font-size: 1rem ;
}

#under{
	text-align: center;
	font-family: Cookie;
	margin-top: 2rem;
}

a{
	color : white;
}

#figure { 
    margin-bottom: 3px !important;
}

.d-block.w-100{
	height: 150px !important;
}